body {
    background-color: white;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.headshot-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background: linear-gradient(150deg, rgb(148, 248, 179) 50%, rgba(63, 63, 63, 0.129) 50%, rgb(255, 255, 255) 51%)
}

.headshot {
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.346);
}

.image-overlay-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
}

h1 {
    margin-top: 0;
}

header > p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.social {
    width: 1.5rem;
}

.social-links {
    margin: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container {
    width: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));

}

.project-tile {
    
    background-color: bisque;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.102);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 40px 1fr;
    overflow: hidden;


}

.project-photo {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;

}

h3 {
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

.project-social-links {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.project-description {
    margin-left: 1rem;
    margin-right: 1rem;
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: flex-start;
}

footer {
    margin-top: 1rem;
    background-color: rgb(104, 150, 206);
    padding: 1rem;
}

.footer-title {
    margin-top: 0;
    color: white;
    text-align: center;
}

.footer-photo {
    width: 100%;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 1rem;
}

footer p {
    display: block;
    margin: 0;
    padding: 0;
}
footer h3 {
    grid-row: 1/2;
}

.address {
    grid-row: 2/3;
}

.contact-info {
    grid-row: 3/4;
}

footer .social-links {
    grid-row: 4/5;
    justify-self: center;
}